* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.slider {
    width: 100%;
    height: 100%;
    background-color: rgb(30, 30, 30);
    position: relative;
    display: flex;
    /* flex-wrap: wrap-reverse; */
    user-select: none;
}
.prev {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 2%;
    position: absolute;
    background-color: blue;
    cursor: pointer;
}
.next {
    width: 50px;
    height: 50px;
    top: 50%;
    right: 2%;
    position: absolute;
    background-color: blue;
    cursor: pointer;
}

.sliderPic {
    width: 0%;
    /* display: none; */
}